/* RESET GENERALE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERALE */

/* DEBUG */
.debug{
    padding: 15px;
}
.debug .container-flex-bet{
    display: flex;
    justify-content: space-between;
}
.debug .container-flex{
    display: flex;
}
.debug .container-align{
    align-items: center;
}
.debug .contenitore{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 70px;
}

/* HEADER */
.debug header{
    background-color: antiquewhite;
    
    min-height: 70px;
}
.debug .logo{
    background-color: aqua;
    border: 1px dashed red;
    
    height: 50px;
    width: 50px;
}
.debug header nav{
    background-color: cyan;
    
    height: 50px;
    width: 600px;
}
.debug header nav ul{
    list-style-type: none;
}
.debug header nav>ul>li>a{
    background-color: rgb(149, 255, 0);
    border: 1px dashed red;
    
    display: inline-block;
    height: 50px;
    width: 50px;
}
.debug header button{
    background-color: rgb(255, 187, 0);
    border: 1px dashed red;
    
    height: 50px;
    width: 50px;
}



/* **** MAIN */
/* JUMBOTRON */
.debug .jumbotron{
    background-color: aquamarine;
   
    padding: 30px 0;
}
.debug .jumbotron > div{
    background-color: fuchsia;
    border: 5px dashed red;
   
    height: 500px;
}




/* SEZIONI */
.debug .sezione-main, .debug .sezione-4, .debug .footer-sezione-1{
    padding: 50px 0;
}
.debug .sezione-1{
    background-color: aqua;  
}
.debug .sezione-2{
    background-color: antiquewhite;
}
.debug .contenitore-sezione-1{
    background-color: yellow;
    border: 1px dashed red;
}

/* ALFA - BETA + COLORI  */
.debug .cont-sezione-alfa{
    width: 60%;
    height: 500px;
}
.debug .cont-sezione-beta{
    width: 40%;
    height: 500px;
}
/* ******* + COLORI */
.debug .cont-sezione-a{
    background-color: yellowgreen;
    border: 1px dashed red;
}
.debug .cont-sezione-b{
    background-color: brown;
    border: 1px dashed red;
}



/* SEZIONE 4 */
.debug .sezione-4{
    background-color: antiquewhite;
}
.debug .cont-sezione-4{
    background-color: gray;
    border: 1px dashed red;
    
    height: 500px;
}


/* FOOTER */
.debug .footer-sezione-1{
    background-color: lightgray;
    border: 1px dashed red;
}
.debug .footer-sez-1{
    background-color: blueviolet;
    border: 1px dashed red;
    
    height: 400px;
    width: 36% ;
} 
.debug .footer-sez-a{
    border: 1px dashed red;
    height: 400px;
    width: calc(64% / 4);
} 
.debug .footer-sez-2{
    background-color: gold;
}
.debug .footer-sez-3{
    background-color: goldenrod;
} 
.debug .footer-sez-4{
    background-color: green;
} 
.debug .footer-sez-5{
    background-color: greenyellow;
} 

.debug .footer-sezione-2{
    background-color: lightgray;
    border: 1px dashed red;
   
    padding-top: 30px;
}
.debug .footer-end{
    background-color: mediumslateblue;
}

.debug .footer-sezione-2 button{
    background-color: rgb(255, 187, 0);
    border: 1px dashed red;
    
    height: 50px;
    width: 50px;
}
